# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage

# nyc test coverage
.nyc_output

# Build directory
/build
/dist

# Local development
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local 